<div class="body" ng-cloak layout-wrap ng-controller="DietCtrl">
	<md-content class="md-padding" id="food-md-content">
		<div layout="row">
			<div layout="column" flex="70">
				<h2> Dietizer - Optimizes your food servings into a cheap price. </h2>
				<p> Instructions: Click the chuchubels that you like and poof! Coco Crunch. </p>
			</div>
			<div>
				<md-button class="md-raised md-primary" ng-click="" aria-label="">  SUBMIT  
				</md-button>
				<span flex> </span>
				<md-button class="md-raised md-primary" ng-click="" aria-label="">  SELECT ALL
				</md-button>
				<md-button class="md-raised md-primary" ng-click="" aria-label="">  CLEAR ALL
				</md-button>
			</div>
		</div>
		<div id="food-grid">
			<md-grid-list md-cols="4" md-row-height="4:3">
				<md-grid-tile ng-repeat="food in foods">
					<md-card>
						<md-card-title>
							<md-card-title-text>
								<span class="md-subhead">  
									{{food.Foods}}:<br>
									{{food.PricePerServing}} ; {{food.ServingSize}}
								</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content>
							<md-checkbox class="md-primary md-avatar" ng-model="" ng-click="" aria-label="Checkbox Done"></md-checkbox>
						</md-card-content>
					</md-card>
				</md-grid-tile>	
			</md-grid-list>
		</div>
	</md-content>
	<!-- <div class="diet-output md-padding">
		<h3> Output: </h3>
	</div> -->
</div>