<div class="body" ng-cloak layout="column" layout-wrap>
	<md-content>
		<h2> Ultimate Optimzer </h2>
		<p> Instructions: Input chuchubels into the cheparlu. </p>

		<div class="ultimate-input">
			<form>
				<h3> Input: </h3>
				<!-- objective function -->
				<md-input-container class="md-block">
					<label> Objective Function </label>
					<input required ng-model="objfx"/>
					<!-- <div ng-messages="todoForm.title.$error"> -->
						<!-- <div ng-message="required"> This is required. </div> -->
					<!-- </div> -->
				</md-input-container>

				<!-- message -->
				<md-input-container class="md-block">
					<label> List of Constraints </label>
					<input ng-model="constraints"/>
				</md-input-container>
			</form>

			<div layout="row" layout-sm="column" layout-wrap>
				<md-button class="md-raised md-primary" ng-click="" aria-label="">  MAXIMIZE  
				</md-button>
				<md-button class="md-raised md-primary" ng-click="" aria-label="">  MINIMIZE  
				</md-button>
				<span flex> </span>
				<md-button class="md-raised md-primary" ng-click="" aria-label="">  CLEAR  
				</md-button>
			</div>
		</div>

		<div class="ultimate-output">
			<h3> Output: </h3>
			<!-- <p> {{ objfx }} </p> -->
			<!-- <p> {{ constraints }} </p> -->
		</div>
	</md-content>
</div>